.header {
    color: #fff;
    background-color: #279A9D;
    padding-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.search-input-container {
    position: relative;
  }
  
  .search-input {
    padding-left:0; /* Ajuste o valor conforme necessário para posicionar o ícone corretamente */
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajuste o valor conforme necessário para posicionar o ícone corretamente */
    transform: translateY(-50%);
    color: #888; /* Cor do ícone da lupa */
  }
  
  .logo-header{
    width: 80px;
  }

.container-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-group{
    width: 550px;
}

.search-input-container{
  max-width: 740px;
  width: auto;
}
.container-2{
  padding-bottom: 10px;
}

.text-end{
  text-align: center;
}
.text-end li{
  margin-right: 20x;
  margin-left: 20px;
}

@media (max-width: 990px){
  .container-1{
    align-items: center;
    justify-content: center;
  }
  .logo-header{
    margin-right: 30px;
  }
}


@media (max-width: 768px){
  .container-1{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-group{
    width: 100%;
  }
}