.header {
    color: #fff;
    background-color: #279A9D;
    padding-top: 5px;
}


.search-input-container {
    position: relative;
  }
  
  .search-input {
    padding-left:0; /* Ajuste o valor conforme necessário para posicionar o ícone corretamente */
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px; /* Ajuste o valor conforme necessário para posicionar o ícone corretamente */
    transform: translateY(-50%);
    color: #888; /* Cor do ícone da lupa */
  }
  
  .logo-header{
    width: 80px;
  }

.container-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-group{
    width: auto;
}

.search-input-container{
  max-width: 440px;
  width: auto;
}